@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
  /*
  tabs to bottom
  source: https://gist.github.com/Arty2/e6e61801531ec5ee1f9f
  */

  /* bring the browser window to the top */
  #browser {
    -moz-box-ordinal-group: 0 !important;
    padding-top: 0px;
  }

  /* alternative: move the toolbar to the bottom; */
  #appMenu-viewCache + box {
    -moz-box-ordinal-group: 2 !important;
  }

  /* hide tab toolbar when fullscreen */
  #nav-bar[inFullscreen],
  #TabsToolbar[inFullscreen] {
    display: none;
  }

  /* hide titlebar buttons */
  /* 
  #TabsToolbar > .titlebar-buttonbox-container {
    display: none !important;
  }
  */
  #navigator-toolbox {
    --tabs-border-color: none !important;
  }

  #navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {-moz-box-ordinal-group:10}
  #TabsToolbar {-moz-box-ordinal-group:1000!important}
  /* 
  #TabsToolbar {
    position: absolute !important; 
    bottom: 0 !important;
    width: 100vw !important;
    display: block !important;
  }
 */
  #tabbrowser-tabs {
    top: 300 !important;
    width: 100vw !important;
  }
  #main-window:not([chromehidden*="toolbar"]) #navigator-toolbox {
    padding-bottom: calc(1px + var(--tab-min-height_tnot)) !important;
    --tab-min-height_tnot: auto !important;
  }

  :root {
  --tab-toolbar-navbar-overlap: 0px !important;
  --tab-min-height: 33px !important; 
  --tab-min-height_tnot: 32px;
  }
  :root #tabbrowser-tabs {
  --tab-min-height: 33px !important; 
  --tab-min-width: 80px !important;
  }

  #TabsToolbar {
    height: var(--tab-min-height) !important;
    margin-bottom: 1px !important;
    box-shadow: ThreeDShadow 0 -1px inset, -moz-dialog 0 1px !important;
    background-color: var(--toolbar-bgcolor) !important;
  }
  #TabsToolbar #window-controls {display:none!important;}

  /* #main-window[tabsintitlebar]:not([inFullscreen="true"]) #toolbar-menubar[autohide="true"] ~ #TabsToolbar .titlebar-buttonbox-container {
    position: fixed !important;
    right: 0 !important;
    top: calc(6px + var(--tab-min-height)) !important;
    display: block !important;
    visibility: visible !important;
  } */
  /* 
  #toolbar-menubar[autohide="true"] ~ #TabsToolbar {
    padding-right: 100px !important;
  }
  */
}